.navbar {
  display: flex;
  padding: 0 20px;
  justify-content: center;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar ul li {
  font-family: "Lato", sans-serif;
  padding: 0 10px;
  font-size: 25px;
}
.navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--light-navy);
}
.navbar ul li a:hover {
  transition: 1s all ease;
  border-bottom: 1px solid white;
}
.navbar ul button {
  background-color: transparent;
  border: none;
  margin: auto;
  cursor: pointer;
  width: 32px;
  position: absolute;
}
.navbar ul button svg {
  height: 18px;
  color: var(--light-navy);
  padding-top: 7px;
}
/* .navbar ul li #moon{
    display: none;
} */



.none {
  display: none;
}
.block {
  display: block;
  opacity: 1;
}
.nav-menu-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar h1 {
    font-size: 20px;
  }
  .navbar ul li {
    padding: 0 10px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 460px) {
  .navbar {
    margin: 0 20px;
    justify-content: flex-start;
  }
  .navbar h1 {
    font-size: 20px;
  }
  .navbar ul {
    display:flexbox;
  }
  .navbar ul li {
    font-size: 18px;
  }
  .navbar ul li button svg {
    height: 14px;
  }
  .nav-menu-btn {
    display: flex;
  }
  .nav-menu-btn svg {
    background-color: var(--navy);
  }
}
